@import '~bulma/bulma.sass';

header{
  width: 100%;
  height: 100%;
}

.columns {
  margin: 3rem 0;
  transition: 1s;
}

article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}

article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.userCircle{
  
  .svg-inline--fa.fa-w-16 {
    height: 45px;
    width: 30px;
  }
}

.form-container{
  height: 0;
}

.logo-wrapper{
  margin-right: 10px;
}

.ratings-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@keyframes formExpand {
  0% { height: 0; opacity: 0; }
  10% { height: 0px; opacity: 0;}
  100% { height: 55px; opacity: 1;}
}